body{
    font-family: Arial, Helvetica, sans-serif;
  display: flex;
    justify-content: center;
  height: 120vh;
  margin: 0;
  align-items: center;
  
}

button:hover{
    resize: vertical;
    color: aqua;
    background-color: red;
    border: 50cap;
    animation: forwards;
align-items: center;
text-align: center;
}
.message{
    color: brown;
    background-color: aqua;
}
.container{
    background-color: aliceblue;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px;
    width: 700px;
}
label{
    display: block;
    margin: 10px 0 5px;
    font-weight: 200;
}
input[type="text"],input[type="mail"],input[type="password"],select,textarea{
font-size: 14px;
box-sizing: border-box;
border-radius: 8px;
border: 1px solid bisque;
margin-bottom: 15px;
padding: 10px;
width: 100px;
}