body{
    background-image: url(https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg);
    background-size: cover;
    scroll-behavior: smooth;
}

.navbar
{
    background-color:#7091E6;
    overflow: hidden;


}
.navbar a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: x-large;
}
.navbar a:hover{
    background-color: #adadad;
    color: #8697c4;

}
.navbar a.active{
    background-color: #fbe9d0;
    color: #a690a6;
}
.select{
    float: left;
    background-color: #7091E6;
    display: block;
    color: #e7e8e9;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: x-large;
    overflow: hidden;
}
.navbar
{
    background-color:#7091E6;
    overflow: hidden;


}
.navbar a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: x-large;
}
.navbar a:hover{
    background-color: #adadad;
    color: #8697c4;

}
.navbar a.active{
    background-color: #fbe9d0;
    color: #a690a6;
}
.select{
    float: left;
    background-color: #7091E6;
    display: block;
    color: #e7e8e9;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: x-large;
    overflow: hidden;
}
.dropdown{
    float:left;
    overflow: hidden;

}
.dropdown-content{
    display: none;
    position:absolute;
    background-color: #444;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2 );
    z-index: 1;

}

.dropdown-content a{
    float:none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover{
    background-color: #575757;
    color: yellow;
}

.dropdown:hover .dropdown-content{
        display: block;
    }
    .dropbtn{
         float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: x-large;
    background-color: #7091E6;
    border: none;
    }

    .intro{
        font-style: oblique;
        font-family: monospace;
        font-size: xx-large;

    }

    .search{
         float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: x-large;

    }
    .image{
         padding: 15px 22px;
         height: 50px;
         background-color: #444;
    }